# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Dependencies
node_modules/
jspm_packages/
package-lock.json


#jetbrains IDE
.idea


#app internal storage
.data/


#mac osX
.DS_Store