<!DOCTYPE html>
<html>
  <head>
    <title>Where are my colleagues?</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    
    <main>
      <header class="header">
        <h2>
          Office 
        </h2>         
        <h2>
          Homeoffice 
        </h2>
        <h2>
          Away 
        </h2>
      </header>
      
      <section class="columns">
        <div class="column" data-col="office" title="🏢">
        </div> 
        <div class="column" data-col="homeoffice" title="🏠">
        </div>
        <div class="column" data-col="away" title="🏝">
        </div>
      </section>

      <form>
        <input class="input--name js-name" placeholder="Name">
        <input class="input--img js-image" placeholder="Image URL">
        <input type="submit" class="btn--submit js-new" value=" Add person ">
      </form>
      
    </main>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"></script>
    <script src="/touch-punch.js"></script>
    <script src="/client.js"></script>

  </body>
</html>
